<%- include('partials/header') -%>

<main class="container d-flex flex-column min-vh-100 justify-content-center border-top-0 border-bottom-0 border border-5">
    <div class="text-center">
      <h1>
        <a href="/profile">Binary Upload Boom</a></h1>
    </div>
    <div class="row m-4 justify-content-center">
        <a href="/login" class="col-4 btn btn-primary">Login</a>
    </div>
    <div class="row m-4 justify-content-center">
        <a href="/signup" class="col-4 btn btn-primary">Signup</a>
    </div>
    <span class="sticky-lg-bottom text-center">The #100Devs Social Network</span>
</main>
    
<%- include('partials/footer') -%>